

/* The side navigation menu */
.Greenbutton{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 2px 25px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 12px;
  border-radius: 4px;
  margin-top:30px;
  margin-left:20px;
}
.Chipstyle{
  display: inline-block;
  padding: 0 18px;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  border-radius: 3px;
  background-color: bisque;
}
.productid{
 font-weight: 500;
 font-size: 13px;
 letter-spacing: 0.9px;
}
.LinkFinoutmore{
  text-decoration:underline ;
  padding:0px 4px
}
.LinkFinoutmore:hover{
  cursor:pointer;
  color:blue
}
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color:#000;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebartitle {
    display: block;
    color:#fff !important;
    padding: 10px 20px;
    text-decoration: none;
    text-align: justify;
  }

  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
 div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    div.content  {margin-left: 0;}
  }

  .box {
    transition: box-shadow .3s;
    border-radius:10px;
    border: 1px solid #ccc;
    background: #fff;
    float: left;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }
  .box:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.4); 
  }


  /*navbar*/
  .navbartab {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 40px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbartab a.active {
    background-color:#59c7db;
    color: white;
  }
  
  /*searchbox*/
  .Searchbox{
    width: 150px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    background-image : url('../image/searchimage.png');
    background-position: 6px 6px; 
    background-repeat: no-repeat;
    background-size: 14px 16px;
    padding: 4px 30px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    height:30px
  }
  .Searchbox:focus{
    width:100%
  }

  /*slider */
  .slidecontainer {
    width: 100%;
  }

  /*collapse css*/
  .card-block {
      font-size: 1em;
      position: relative;
      margin: 0;
      padding: 1em;
      border: none;
      border-top: 1px solid rgba(34, 36, 38, .1);
      box-shadow: none;
  }
   .card {
      font-size: 1em;
      overflow: hidden;
      padding: 5;
      border: none;
      border-radius: .28571429rem;
      box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
      margin-top:20px;
  } 
  .carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}
.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}
.carousel-indicators .active {
    background-color: #fff;
    max-width: 12px;
    margin: 0 3px;
    height: 12px;
}
.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.btn {
  margin-top: auto;
}